body {
  background-color: #cccccc;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

p {
  line-height: 1.3;
}

ul, ol {
  list-style: none;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans';
  font-weight: 700;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  outline: none;
}

table, td, th {
    border: 1px solid transparent;
}

tr {
  height: 1.75em;
}

table {
    border-collapse: collapse;
    width: 55%;
    margin-bottom: 2.5em;
    margin-top: 1.5em;
}

td:first-child {
  width: 33%;
}

td:nth-child(2) {
  width: 66%;
}

button {
  padding: 1em;
  margin-left: .5em;
  font-size: inherit;
  background-color: #3498db;
  color: white;
  border: none;
}

button:focus {
  background-color: red;
}

/* Navigation
---------------------------------------------------- */
header > nav {
  text-align: center;
  margin-bottom: 2em;
}

header nav > h1 {
  padding: 1.5em 0;
  margin: 0;
  background-color: #2c3e50;
  color: #fff;
}

header nav > ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0;
  margin-bottom: 0;
}

header nav ul > li {
  flex: 1 1 0;
}

header nav li > a {
  display: block;
  padding: .7em;
  background-color: #c0392b;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

header nav li > a:hover {
  background-color: #CF4857;
}

[aria-label="current"] {
  background-color: #ec3737;
}

@media screen and (min-width: 38.75em) {
  header nav > ul {
    flex-direction: row;
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: -3em;
  height: 150vh;
  width: 100vw;
  background-color: #2C3E50;
  z-index: 1000;
}

.loader {
    position: relative;
    top: 30%;
    margin: 0 auto;
    border: .6em solid #fff;
    border-top: .6em solid #C0392B;
    border-radius: 50%;
    width: 5em;
    height: 5em;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.movie_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie_list .wrapper {
  position: relative;
  display: block;
  width: 90%;
  margin-bottom: 1.75em;
  background-color: #ecf0f1;
}

.movie_list img {
  max-width: 100%;
  height: auto;
}

.movie_list h1 {
  margin-top: .5em;
  color: #2c3e50;
  font-size: 1.3em;
}

.movie_single p.overview {
  padding-right: 3em;
  margin-top: 0;
}

.movie_single {
  display: flex;
  justify-content: center;
}

.movie_single .wrapper {
  position: relative;
  display: block;
  width: 90%;
  margin-bottom: 1.75em;
  background-color: #ecf0f1;
}

.movie_single img {
  width: 35%;
  margin-right: 1.25em;
  float: left;
}

.movie_single h1 {
  margin-top: 1em;
  display: inline-block;
}

.table_title {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
}

.budget {
  color: #e74c3c;
}

.revenue {
  color: #27ae60;
}

.movie_single .genres li.name {
  padding: .5em;
  display: inline-block;
  padding: .5em;
  border-radius: 0.5em;
  background-color: #2980b9;
  color: white;
  font-size: .85em;
  font-weight: 800;
}

.production_companies li.name::before {
  content: "-  ";
}

.movie_meta {
  padding: 0 1em;
}

.vote_average {
  position: absolute;
  top: 0;
  right: 0;
  padding: .75em 1.5em;
  background-color: rgba(44, 62, 80, 0.95);
  color: white;
  font-family: 'Lato', serif;
  font-size: 1.35em;
  font-weight: 800;
}

.release_date {
  margin-top: .5em;
}

.runtime {
  display: inline-block;
  margin-left: 2em;
  margin-bottom: 0;
  line-height: 1.25;
}

.runtime::before {
  content: "";
  display: block;
  background: url("../images/clock.svg  ") no-repeat;
  width: 1.25em;
  height: 1.25em;
  float: left;
  margin: 0 6px 0 0;
}

.wrapper {
  position: relative;
}

.url_btn {
  transition: .2s;
  padding: .75em 1em;
  color: white;
  box-shadow: 5px 6px 20px -5px rgba(0,0,0,0.4);
}

.imdb_url:hover, .similar_url:hover {
  transition: .2s;
  padding: .9em 1.1em;;
}

.imdb_url {
  display: inline;
  background-color: #E8C70B;
  margin-left: 1em;
}

.similar_url {
  display: inline;
  background-color: #292D46;
  margin-top: 20em;
}

.title_url {
  text-decoration: underline;
  color: #2c3e50;
}

.movie_single .lang_image {
  width: 2em;
}

.search_block {
  padding: 1em;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  bottom: 2em;
}

.search_block input[type="text"] {
  display: inline-block;
  height: 2.2em;
  width: 30em;
  margin-top: .2em;
  padding-left: 1em;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  outline: none;
  border: none;
}

.search_block button {
  display: inline-block;
  padding: .55em;
  margin-left: 2em;
  width: 20%;
  border: none;
  background-color: #3498db;
  color: white;
  font-size: 1em;
}

@media (min-width: 61.25em) {
  .movie_list .wrapper {
    width: 30%;
  }
}

@media (max-width: 60em) {
  .movie_single img {
    width: 100%;
  }
  .movie_single .single_meta {
    padding: 1em;
  }
  .movie_single ul {
    padding: 0;
  }
  .imdb_url {
    margin-left: 0;
  }
  table {
    width: 90%;
  }
  header nav li > a {
    min-height: 3em;
  }
}

@media (max-width: 38.75em) {
  header nav li > a {
    min-height: 1em;
  }
}

@media (min-width: 40.625em) and (max-width: 61.25em){
  .movie_list .wrapper {
    width: 45%;
  }
}

.filters {
  margin-left: 1em;
  margin-bottom: 2em;
}

.search_block {
  display: none;
}

.hidden {
  display: none;
}

.inline {
  display: inline-block;
}

#open_search {
  padding: .46em;
}

.search_icon {
  width: 1.5em;
  position: relative;
}



/* Footer
---------------------------------------------------- */
footer.main {
  padding: 1.5em;
  margin-top: 2em;
  background-color: #2C3E50;
  color: white;
  text-align: center;
}
